<template>
  <div>
    name :
    <input type="text" @change="handleChange">
  </div>
</template>

<script setup>

const emit = defineEmits(['customChange'])

const handleChange = (event) => {
  emit('customChange', event.target.value)
}
</script>

<style lang="scss" scoped>

</style>