<template>
  <div>
    <hello-world @custom-change="handleCustomChange"/>
    <p>Uppercase: {{ uppercase }}</p>
  </div>
</template>

<script setup>
import { ref } from '@vue/reactivity';
import slug from 'slug';

import HelloWorld from './components/HelloWorld.vue';

const uppercase = ref('')
const handleCustomChange = (s) => {
    uppercase.value = slug(s);
}

</script>

<style lang="scss" scoped>

</style>